*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #032030;
    color: white;
    font-family: 'Poppins', sans-serif;;
}
nav{
    background-color: #004D74;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 15px;
    padding: 10px;
    background-color: rgb(229, 225, 225);
    border-radius: 54px;
    color: #032030;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-color: rgb(165, 163, 163);

}
div.left{
   font-size: 2rem;
}
span{
    color: #032030;
}
nav a{
    text-decoration: none;
    transition: transform 0.5s;
}
nav a:hover{
    transform: translateY(-10px);
}
.firstsec{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:20px 0;
}
.firstsec > div{
    width: 33%;
}
.myimg{
    width: 330px;
    height: auto;
    border-radius: 100%;
    margin: 50px 0;
}
div.intro{
    font-size: 120%;
}
.sec_left{
    font-size: 2.5rem;
    font-weight: bold;
}

.sec_right{
}
.blue{
    color: #8bb7cd;
    font-weight: bold;
}
#socials{
    font-size: 150%;
    cursor: pointer;
}
hr{
    border: 0;
    background: #5b89a17d;
    margin: 26px;
    height: 2px;
    border-radius: 256px;
}
.secondsec{
    display: contents;
    justify-content: space-around;
    align-items: center;
    margin:40px 0;
}

.secondsec > div{
        width: 33%;
    }
.aboutme{
    font-size: 2rem;
    font-weight: bold;
    margin: 34px 563px;
}
.aboutme1{
    margin: 36px 431px;
    text-align: center;
}
.thirdsec{

}